<h2> <%= product.name %> </h2>

<img src="<%= product.imageUrl %>" width="50%">

<h3> Price: $<%= product.price %> </h3>

<p> <%= product.description %> </p>

<hr />
<h3> User Reviews</h3>

<ul>
  <% product.reviews.forEach((oneReview) => { %>
    <li>
      <p><%=oneReview.content%></p>
      <p><%=oneReview.stars%> out of 5 </p>
      <p><b><%=oneReview.author%></b></p>
    </li>
<%  }) %>
</ul>

<a href="/products/<%=product._id%>/reviews/new">
  Review This Product
</a>
<br />

<a href="/products/<%= product._id %>/edit">
  Edit
</a>
<br />
